<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590399228771-5epr00b1g0qiaq34276qduojr6i96aig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590399228771-5epr00b1g0qiaq34276qduojr6i96aig</string>
	<key>API_KEY</key>
	<string>AIzaSyAlwkhT4NPbMt-fwSEYui_mUDL8QlMfB28</string>
	<key>GCM_SENDER_ID</key>
	<string>590399228771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vtpartnertranspvtltd.vtPartner</string>
	<key>PROJECT_ID</key>
	<string>vt-partner-8317b</string>
	<key>STORAGE_BUCKET</key>
	<string>vt-partner-8317b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590399228771:ios:baa1ce7a4246e2a05fe156</string>
</dict>
</plist>